@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-size: 20%;
    background: rgb(250, 250, 250) url(http://lorempixel.com/1920/1080/nature/);
    /* font-family: Lato, Helvetica, Arial, sans-serif; */
    font-family: 'Poppins';
  }

/* html {
    font-size: 62.5%;
    font-family: Lato, Helvetica, Arial, sans-serif;
} */

.header-title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 78, 123);
    text-align: center;
}
.header-title1{
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 78, 123);
}
.sub-title{
    font-size: 15px;
    color: rgb(0, 78, 123);
    text-align: center;
    
}
.span-text{
    font-size: 15px; 
    color: #868687
}
.prj-img-divider{
    /* margin-top: -48px; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0px;
    left: 0px; 
    background-color: #fff;
    z-index: 1000; 
    border: none;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 0;
}

.nav-item {
    /* margin-left: 5rem; */
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link.active {
    color: rgb(0, 78, 123);
  }

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: rgb(0, 78, 123);
    margin-left: 2rem;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: rgb(13, 26, 38);
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: rgb(0, 78, 123);
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-right: 2rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

.dividercontainer {
    padding-top: 30px;
}
/* My Self Section */
.image {
    background: url("./Img/FB_IMG_1650033841206-removebg.png") center center no-repeat;
    background-size: cover;
    min-height: 350px;
    min-width: 300px;
    border-radius:0% 0% 0% 75%;
  }
  .imgLogo {
    border-radius: 50%;
    background-color: #e5ecec;
    margin-top: 50px;
    box-shadow: 0px 0px 10px rgba(242, 241, 241, 0.1); /* Add a shadow */
  }
  

.myselfsecdiv {
    padding-top: 12rem;
}
.about {
    background-color: rgb(0, 78, 123);
    color: white;
    /* border-radius: 20rem 0rem 30rem 25rem; */
    /* border-radius: 0rem 8rem 0rem 8rem; */
    /* padding: 3rem 8rem 3rem 8rem; */
    /* padding: 2rem 4rem 2rem 4rem; */
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
    /* font-style: italic; */
    font-family: 'Poppins';
  }

/* Project Section */

.row-divider{
padding-bottom: 50px;
}
  
  
.learn-img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
    background-color: #e5ecec;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.share-img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
    background-color: #e5ecec;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prj-image {
    background: url("./Img/project.png") center center no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  .youtubepage-image {
    background: url("./Img/youtubepage.png") center center no-repeat;
    background-size: cover;
    min-height: 200px;
  }
  .facebookpage-image {
    background: url("./Img/facebookpage.png") center center no-repeat;
    background-size: cover;
    min-height: 200px;
  }

.title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}
.projectimg{
    width: 100%;
    height: 100%;
}

.btn {
  margin-top: auto;
}
.card-title{
    font-size: 15px;
    color: rgb(0, 78, 123);
    font-weight: bold;
}
.card-text{
    font-size: 15px;
    color: #868687;
}
.skill-title-text{
    font-size: 15px;
    color: rgb(0, 78, 123);
    font-weight: bold;
    font-style: italic;
}
.skillimage{
    width: 100px;
    height: 100px;
}
.skill-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center;
  }
  .container-color{
    background-color: #e5ecec;
  }

/* Certificate Section */
/* Hexagon gallery */

.container1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container1 .hexagon::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.16), transparent, transparent);
    border-radius: 50%;
    transition: 0.5s;
}

.container1 .hexagon:hover::before{
    opacity: 0.8;
    transform: scale(0.8);
}

.container1 .hexagon{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 50px 20px 70px;
}

.container1 .hexagon .hexagon-shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    transition: 0.5s;
}

.container1 .hexagon:hover .hexagon-shape{
    transform: translateY(-30px);
}

.container1 .hexagon .hexagon-shape img{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container1 .hexagon .hexagon-shape .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: #fff;
    background: linear-gradient(45deg, #03f4cc, rgba(3,255,244,0.5));
    opacity: 0;
    transition: 0.5s;
}

.container1 .hexagon:hover .hexagon-shape .content{
    opacity: 1;
}

/* Rectangle gallery */

.img1 {
	width: 100%;
    height: 200px;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
	transition: transform 1000ms;
    border-radius: 10px;
}

.ul1 {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	gap: 0.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	max-width: 100%;
	width: 70rem;
}

.figure1 {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.figure1::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200%;
	height: 200%;
	background: rgba(0, 0, 0, 0.5);
	transform-origin: center;
	opacity: 0;
	transform: scale(2);
	transition: opacity 300ms;
}

.figcaption1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	place-items: center;
	text-align: center;
	padding: 1rem;
	color: white;
	font-size: 1.2rem;
	z-index: 1;
	opacity: 0;
	transition: opacity 600ms, transform 600ms;
}

.a1:is(:hover, :focus) figure::after {
	opacity: 1;
}

.a1:is(:hover, :focus) figcaption {
	opacity: 1;
	transition: opacity 600ms;
}

@media (prefers-reduced-motion: no-preference) {
	.figcaption1 {
		transform: translate3d(0, 2rem, 0);
	}
	
	.figure1::after {
		border-radius: 50%;
		opacity: 1;
		transform: scale(0);
		transition: transform 900ms;
	}
	
	.a1:is(:hover, :focus) figure::after {
		transform: scale(2.5);
	}

	.a1:is(:hover, :focus) figcaption {
		opacity: 1;
		transform: translate3d(0, 0, 0);
		transition: opacity 600ms 400ms, transform 600ms 400ms;
	}

	.a1:is(:hover, :focus) img {
		transform: scale(1.2);
	}
}








